%ul.nav.nav-pills.flex-column.my-2
    %li.nav-item
        = link_to home_administrador_path, class: "nav-link"  do
            %i.fa.fa-home.fa-home 
            Resumen
    %li.nav-item
    =link_to "Administrador", home_administrador_path, class: "nav-link"
    %li.nav-item
    =link_to "Reputation", home_reputation_path, class: "nav-link"
    %li.nav-item
    =link_to "Purchases", home_purchases_path, class: "nav-link"
    %li.nav-item
    =link_to "Products", home_products_path, class: "nav-link"
    %li.nav-item
    =link_to "Sales", home_sales_path, class: "nav-link"
    %li.nav-item
    =link_to "Configuración", edit_user_registration_path, class: "nav-link"
      
